.img {
    width: 150px;
    height:200px;
}
body {
   overflow-x: hidden; 
}
.img-background {
    position: relative;
    z-index: 0;
    font-family: emoji;
}
.img-background::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(img/cyber.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
}
.for-png {
    border-radius: 10%;
}
